* {
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap:5px;
}

.header{
    background-color: lightgray;
    grid-column: 2 / 4;
}

.container .header{
    display:grid;  
    grid-template-rows: 1fr 2fr;
}


.container .header .headerTop{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.container .header .headerTop .searchBar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:250px;
}

.headerTop .profileImg{
    background-color: yellow;
    width: 25px;
    height: 25px;
}

.headerTop .notif{
    background-color: rgb(127, 127, 64);
    width: 25px;
    height: 25px;
}

.searchLogo{
    width: 25px;
    height: 25px;
    background-color: yellow;
}

.sidebar{
    text-align: center;
    background-color: blue;
    grid-row: 1/4;
    grid-column: span 1;
}


.sidebar .photo{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.side-link{
    color: white;
    margin:10px;

}

.logoText{
    color: white;
    font-size: 25px;
    font-weight: bold;

}

.main{
    background-color: darkgray;
    grid-column: 2/4;
}

.container .main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container .main .leftMain .mainContainer{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:5px;
}

.container .main .rightMain .announcementsContainer{

    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(50px,1fr));

}

.container .main .rightMain .trendingContainer{

    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(50px,1fr));

}

.main .card {
    background-color: white;
    color:black;
    text-align: left;
    height:200px;
    margin: 10px;
}

.card p{
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card p.title{
    font-size: 16px;
    font-weight:bold;

}

.main .card2 {
    background-color: white;
    color:darkgray;
    text-align: left;
    height:100px;
}

.card2 p{
    color: darkgray;
    font-weight: normal;
    font-size: 10px;
}

.card2 p.title{
    font-size: 12px;
    color:black;
}

.main .card3 {
    background-color: white;
    color:darkgray;
    text-align: left;
    height:50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.card3 .profileImg{
    height:25px;
    width:25px;
    background-color: yellow;
    grid-row: 1/3;
}

.card3 .profileName{
    font-size: 12px;
    color:black;
    grid-column-start: 2;

}
.card3 .profileSubTitle{
    font-size: 12px;
    color:gray;
    grid-row-start: 2;
    grid-column-start: 2;

}

.titleText{
    font-size: 20px;
    font-weight: bolder;
}